@import "./components/App.scss";
@import "./components/LocationList.scss";
@import "./components/LocationDetails";
@import "./components/LocationListContainer.scss";
@import "./components/Search.scss";

$font-color: white;
$headline-color: black;
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
}

h1 {
  font-size: 16pt;
  color: $headline-color;
}

p {
  font-size: 11pt;
}
